@import "tailwindcss";
@theme {
  --color-main: oklch(0.2613 0.0609 279.99);
  --color-black-figma: oklch(0.235 0 0);
  --color-white-figma: oklch(0.9037 0 0);
  --color-highlight: oklch(0.6617 0.2288 14.62);
  --color-white-sec: oklch(0.839 0 0);
  --color-highlight-hover: oklch(0.6617 0.3241 14.62);
}
